ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
}

.header-list {
  display: flex;
  gap: 30px;
  margin-right: 73px;
}

.header-list-link {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-btn-list {
  display: flex;
  gap: 21px;
}
/* #region Hero */

.hero {
  padding-top: 25px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-title {
  margin-bottom: 18px;
}

.hero-text {
  margin-bottom: 45px;
  max-width: 465px;
}

.hero-start-btn {
  margin-right: 30px;
}
/* #endregion Hero */
/* #region Product */
.product {
  padding-bottom: 50px;
}

.product-title {
  margin-bottom: 50px;
  text-align: center;
}

.product-list {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-item-title {
  margin-bottom: 13px;
}

.product-btn {
  display: block;
  margin: 0 auto;
  max-width: 175px;
}
/* #endregion Product */
/* #region Specification */
.specifications-item {
  display: flex;
  align-items: center;
}

.support-item {
  flex-direction: row-reverse;
}
/* #endregion Specification */
